.gameCircles {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    border: 3px solid black;
}

.connectBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: max-content;
    position: absolute;
    left: 40%;
    top: 35%;
    border: 5px solid burlywood;
    border-radius: 25px;
    padding: 5px;
    background-color: rgb(255, 234, 209);
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
}
.player_0 {
    background-color: white;
}
.player_1 {
    background-color: aquamarine;
    border: 3px solid rgb(46, 162, 124);
}

.player_2 {
    background-color: fuchsia;
    border: 3px solid rgb(153, 0, 153);
}

:root {
    background-color: blue;
}

.panel {
    position: absolute;
    background-color: lightgoldenrodyellow;
    border: 5px solid burlywood;
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.header {
    left: 43.5%;
    top: 235px;
    height: 30px;
    padding: 5px 15px;
    display: flex;
}
.header-text {
    font-size: 25px;
    color: brown;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 2px;
}

.footer {
    left: 45%;
    top: 620px;
    padding: 5px 15px;
}

.footer button {
    color: burlywood;
    font-size: 20px;
    border: 3px solid brown;
    border-radius: 5px;
    padding: 2px 10px;
    background-color: none;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.9);
    font-weight: bold;
    margin: 2px 10px;
}

.footer button:hover {
    background-color: chocolate;
    color: ghostwhite;
    border: 3px solid white;
}

.game-title {
    position: absolute;
    left: 45%;
    top: 30px;
    font-family: "BookMan Old Style";
}
.GTitle {
    font-size: 35px;
    color: burlywood;
}
.GText {
    position: relative;
    left: -150px;
    color: lightgoldenrodyellow;
    font-size: 20px;
}
